.form-heading {
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.half {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  box-sizing: border-box;
}

.right {
  text-align: right;
  margin-right: 40px;
}

.left {
  text-align: left;
  margin-left: 40px;
}

.data-content {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  line-height: 24px;
}

.ui.grid.container.border-margin {
  width: unset !important;
}

.sidebar h3 {
  text-align: left;
}

.sidebar .ui.form .ui.dropdown,
.sidebar .ui.form textarea {
  width: 100%;
}

.sidebar .ui.form .ui.input {
  width: calc(100% - 40px);
}

.input-bag .ui.horizontal.list > .item {
  margin-left: 0;
}
