.form-heading {
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.half {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  box-sizing: border-box;
}

.right {
  text-align: right;
  margin-right: 40px;
}

.left {
  text-align: left;
}

.data-content {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  line-height: 24px;
}

.ui.grid.container.border-margin {
  width: unset !important;
}

.sidebar h3 {
  text-align: left;
  font-weight: normal;
}

.sidebar .ui.form .ui.dropdown,
.sidebar .ui.form textarea {
  width: 100%;
}

.sidebar .ui.form .ui.input {
  width: calc(100% - 40px);
}

.input-bag .ui.horizontal.list > .item {
  margin-left: 0;
}

.new-sidebar {
  position: sticky;
  top: 0;
  right: 0;
  width: 450px;
  margin-top: calc(-100vh + 100px);
  margin-left: calc(100% - 450px);
  padding: 20px;
  height: calc(100vh - 100px);
  background: #FFF;box-shadow: 0px 0px 20px rgba(34, 36, 38, 0.15);
  z-index: 10;
  overflow: auto;
}

.new-sidebar .ui.form .ui.dropdown,
.new-sidebar .ui.form textarea {
  width: 100%;
}

.new-sidebar .ui.form .ui.input {
  width: calc(100% - 40px);
}

.new-sidebar .header {
  margin-top: calc(2rem - 0.842857em);
}
