.background {
  background: url('https://camping.ehawaii.gov/camping/resources/spc,resource,31720,p,1,null,Waimanu%20valley.JPG') no-repeat center center fixed;
  background-size: cover;
  color: white;
  height: 500px;
}